.container {
    /* height: 500px; */
    width: 640px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background: transparent;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    border-radius: 10px;
    padding: 40px 50px;
    border: 1px solid white;
}

.container hr {

    height: 1px;
    border: none;
    background: white;
}

.container h2 {
    font-size: 25px;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button {
    margin: auto;
    width: 100px;
    height: 65;
    background: red;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 18px;
}

.container .correct {
    background: white;
    background-color: aqua;
}

.container .wrong {
    background: white;
    background-color: red;
}